<link rel="stylesheet" href="/stylesheets/error404.css" />

<div class="smiley-wrapper"><img src="/images/404_smiley.png"/></div>
<p class="error-text">
	You've stumbled upon a hashtag-less world.
	Click <a href="/">here</a> to find a better one.
</p>