<!-- Map initialization -->
<script type="text/javascript" src="/javascripts/map.js"/>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyr7Q-PpDj2a-lX6miPi12f9BOUwmS4JQ"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"/></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>



<div id="map-canvas"></div>
