<!-- Map initialization -->
<script type="text/javascript" src="/javascripts/map.js"/>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyr7Q-PpDj2a-lX6miPi12f9BOUwmS4JQ"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize&libraries=places"/></script>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<div class="nav-wrapper">
	<div id="tagline">Discover news around the world!</div>
</div>
<div id="map-canvas"></div>
