<!DOCTYPE html>
<html>
  <head>
    <title>The Hashtag World</title>
    <meta name="description" content="Explore the most popular and recent tweets from around the world!" />
    <meta name="keywords" content="Twitter, World, Google, Map, Tweets" />
    <meta name="author" content="Armand Akopian" />
    <link rel="image_src" href="/images/site_image.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/map_style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
