.iw-container {
	max-height: 300px;
}

.iw-container .iw-row {
	margin-bottom: 20px;
}

.iw-container .iw-title {
  display: -webkit-flex; /* Safar */
  -webkit-justify-content: space-between; /* Safari 6.1+ */
  
  display: flex;
  justify-content: space-between;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 10px 5px;
	color: white;
	background-color: #1F2B38;
	border-radius: 2px 2px 0 0;
}

.iw-title .full-name {
  margin-right: auto;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.iw-title .username {
  font-size: 12px;
  margin-right: auto;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.username:link {
  color: white;
  text-decoration: none;
}

.username:visited {
  color: inherit;
}

.username:hover {
  color: #CACFD2;
}

/* User info on the left side of title bar*/
.iw-title .iw-title-left {
  display: inline-block;
  vertical-align: top;
}

/* Text next to profile image*/
.iw-title-left.text {
  margin-left: 10px;
}

/* Profile Image */
.profile-image {
  width: 36px;
  height: 36px;
}

.iw-title .twitter-logo {
  width: 32px;
  height: 32px;
  margin-left: auto;
  margin-right: 0;
}

.iw-container .iw-content p {
	background-color: #ecf0f1;
	margin: 0;
	padding: 10px 10px 15px;
}

.timestamp {
  color: #95999C;
}
/* Need to override some of the google map info window css */
.gm-style-iw {
   width: 350px !important;
   top: 15px !important;
   left: 0 !important;
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 0 0;
   background: white;
}

.iw-bottom-gradient {
  position: absolute;
  width: 350px;
  height: 10px;
  bottom: 3px;
  right: 16px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}