html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
}

.nav-wrapper {
	background-color: #2c503e;
	width: auto;
	margin: 0;
	padding: 12px;
	color: white;
	font-size: 18px;
	font-family: 'Open Sans';
}
